<div id="{{ id }}">
    <a href="{{ link }}">{{ name }}</a>
    <div>
        <p>Regional attributes, opponent name and party affiliation</p>
        <textarea class="electoral-summary"></textarea>
    </div>
    <div>
        <p>Major domestic issues, with explanations, at least three</p>
        <textarea class="domestic-issues"></textarea>
    </div>
    <div>
        <p>Major foreign policy issues, with explanations, at least three</p>
        <textarea class="foreign-policy-issues"></textarea>
    </div>
    <div>
        <p>Major contributions to politics before or after the presidency</p>
        <textarea class="major-contributions"></textarea>
    </div>
    <div>
        <p>Presidential quote and explanation of historical significance</p>
        <textarea class="quote"></textarea>
        <textarea class="quote-explanation"></textarea>
    </div>
</div>
